.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f2f2f2;
}


.form-container {
  font-size: 2rem;
  max-width: 60rem;
  width: 100%;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.form__title {
  text-align: center;
  margin-bottom: 2rem;
  color: #4caf50;
}

.form-group {
  margin-bottom: 2rem;
}

.form__label {
  display: block;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #333333;
}

.form__input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #cccccc;
  border-radius: 0.7rem;
  font-size: 1.7rem;
  color: #4caf50;
}

.form__button {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: #4caf50;
  border: none;
  border-radius: 0.7rem;
  color: #ffffff;
  font-size: 1.7rem;
  cursor: pointer;
}

.form__button:hover {
  background-color: #4e554e;
}


.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

.card {

  flex: 0 0 42rem;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card__header {
  text-align: center;
  margin-bottom: 2rem;
  color: #4caf50;
  font-size: 4rem;
}

.card__info {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.card__label {
  font-weight: bold;
  color: #333333;
}

.card__value {
  margin: 2rem 0;
}
